
.acerca {
padding-top: rem(64);
padding-bottom: rem(128);
@media (max-width:$mobile){
	padding-top: rem(32);
	padding-bottom: rem(64);
}
	// .acerca__container

	&__container {
	}

	// .acerca__body

	&__body {
		max-width: 100%;
	}
}
//========================================================================================================================================================
.habilidades {
padding-bottom: rem(128);
@media (max-width:$mobile){
	padding-bottom: rem(64);	  
}
	// .habilidades__container

	&__container {
	}

	// .habilidades__title

	&__title {
		// font-size: rem(34);
		// line-height: math.div( 40, 34);
		// font-weight: 500;
		// letter-spacing: 0.25px;
		margin-bottom: rem(60);
		@media (max-width:$mobile){
			// font-size: rem(24);
			// line-height: math.div(32, 24);
			// font-weight: 400;
			// letter-spacing: normal;
			margin-bottom: rem(32);
		}
	}

	// .habilidades__body

	&__body {
		display: grid;
		gap: rem(24);
		grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
		@media (max-width:$mobile){
			max-width: 100%;
			 grid-template-columns: 1fr; 
		}
	}

	// .habilidades__card

	&__card {
		background:#1C1E22;
		border-radius: rem(8);
		padding: rem(24);
		@media (max-width:$mobile){
			padding: rem(16);  
		}
	}
}
.card {
display: flex;
flex-direction: column;
gap: rem(10);
	// .card__icon

	&__icon {
		
	}

	// .card__title

	&__title {
		font-size: rem(34);
		font-weight: 500;
		line-height: math.div( 40, 34);
		letter-spacing: 0.25px;
		@media (max-width:$mobile){
			font-size: rem(20);
			font-weight: 500;
			line-height: math.div( 24, 20);
			letter-spacing: 0.15px; 
		}
	}

	// .card__text

	&__text {
		font-weight: 400;
		line-height: math.div( 28, 16);
		letter-spacing: 0.44px;
		@media (max-width:$mobile){
			font-size: rem(14);
			line-height: math.div( 20, 14);
			letter-spacing: 0.25px; 
		}
	}
}
