//====================================================================================================
.bottom-page {
	display: flex;
	flex-direction: column;
}
.footer {
background-color: #171718;;
	// .footer__container

	&__container {
	}

	// .footer__items

	&__items {
		display: flex;
		align-items: start;
		column-gap: rem(129);
		border-top: 1px solid #26292D;
		border-bottom: 1px solid #26292D;
		padding-top: rem(64);
		padding-bottom: rem(64);
		@media (max-width:$mobile){
			flex-direction: column;
			align-items: center;
			text-align: center;
			row-gap: rem(32);
			padding-top: rem(32);
			padding-bottom: rem(48);
		}
	}

	// .footer__item

	&__item {

	}

	// .footer__logo

	&__logo {
		font-family: 'Poppins';
		font-size: rem(24);
		line-height: math.div( 32, 24);
		font-style: normal;
		font-weight: 600;

	}

	// .footer__title

	&__title {
		margin-bottom: rem(24);
		font-family: 'DM Sans';
		font-size: rem(16);
		font-style: normal;
		font-weight: 500;
		line-height: math.div( 20, 16);
		letter-spacing: 0.15px;
		color: #85BFD1;
		@media (max-width:$mobile){
			 text-align: center; 
		}
	}

	// .footer__list

	&__list {
	}

	// .footer__link

	&__link {
		margin-bottom: rem(24);
		font-size: rem(14);
		line-height: math.div( 20, 14);
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0.25px;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}

	// .footer__social

	&__social {
		display: flex;
		gap: rem(16);
	}

	// .footer__icon

	&__icon {
		padding: rem(5);
	}

	// .footer__copy

	&__copy {
		padding-top: rem(16);
		padding-bottom: rem(32);
		font-family: 'DM Sans';
		font-size: rem(12);
		line-height: math.div( 16, 12);
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0.4px;
		@media (max-width:$mobile){
			 text-align: center; 
		}
	}
}

//====================================================================================================
