//====================================================================================================
.main-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&__container {
		// min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	// .main-block__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: rem(524);
		text-align: center;
	}
	// .main-block__title
	&__title {
		color: #FAFAFA;
		margin-bottom: rem(16);
		
	}
	// .main-block__subtitle
	&__subtitle {
		font-size: rem(20);
		line-height: math.div( 24, 20);
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.15px;
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
		@media (max-width:$mobile){
			font-size: rem(16);
	      line-height: math.div( 20, 16);
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}
	}
	// .main-block__buttons
	&__buttons {
		display: flex;
		justify-content: center;
		gap: rem(24);
		@media (max-width:$mobile){
			 flex-direction: column;
			 max-width: rem(180);
			 gap: rem(16);
		}
	}
	// .main-block__button
	&__button {
	}
}

//====================================================================================================
.me {
	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	&__container {
		
	}
	// .me__body
	&__body{
		max-width: rem(967);
		// .body__title
		&__title {
			
		}
	}
	
}
//========================================================================================================================================================
.projects {
padding-top: rem(80);
@media (max-width:$mobile){
	padding-top: rem(70); 
}
	// .projects__container

	&__container {
	}

	// .projects__title

	&__title {
		font-size: rem(34);
		line-height: math.div( 40, 34);
		font-weight: 500;
		letter-spacing: 0.25px;
		@media (max-width:$mobile){
			font-size: rem(24);
			line-height: math.div( 32, 24);
			font-weight: 400;
		}
	}

	// .projects__items

	&__items {
		margin: rem(64) rem(0) rem(108) rem(0);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(24);
		@media (max-width:$mobile){
			margin: rem(32) rem(0) rem(64) rem(0);
		}
	}

	// .projects__item

	&__item {
		img{
			max-width: 100%;
		}
	}

	// .projects__button

	&__button{
		display: none;
		@media (max-width:$mobile){
			display: block;
		width: 100%;
		text-align: center;  
		}
	}
}

