
.main-block {
padding-top: rem(64);

@media (max-width:$mobile){
	padding-top: rem(32);
	
}
	// .main-block__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	// .main-block__label
	&__label {
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .main-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(64);
			@media (max-width:$mobile){
				margin-bottom: rem(32);
			}
		}
	}
	// .main-block__image
	&__image {
		img{
			border-radius: 8px;
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: rem(128);
			@media (max-width:$mobile){
				margin-bottom: rem(64);
			}
		}
	}
	// .main-block__subtitle
	&__subtitle {
		font-size: rem(48);
		line-height: math.div( 57, 48);
		font-weight: 500;
		margin-bottom: rem(16);
		@media (max-width:$mobile){
			font-size: rem(24);
			line-height: math.div( 32, 24);
			font-weight: 400;
		}
	}
	// .main-block__text
	&__text {
		font-weight: 400;
		line-height: math.div(24, 16);
		letter-spacing: 0.44px;
		margin-bottom: rem(64);
		@media (max-width:$mobile){
			margin-bottom: rem(32);
		}
		p{
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}
	}
}
//========================================================================================================================================================

.items {
padding-top: rem(64);
@media (max-width:$mobile){
	padding-top: rem(0);  
	padding-bottom: rem(32);
}
	// .items__container

	&__container {
	}

	// .items__item

	&__item {
		padding-bottom: rem(128);
		@media (max-width:$tablet){
			padding-bottom: rem(64);
		}
		@media (max-width:$mobile){
			padding-bottom: rem(32);	  
		}
	}
}
.item {

	// .item__title

	&__title {
		font-size: rem(34);
		line-height: math.div(40, 34);
		font-weight: 500;
		letter-spacing: 0.25px;
		margin-bottom: rem(18);
	}

	// .item__text

	&__text {
		font-weight: 400;
		line-height: math.div( 28, 16);
		letter-spacing: 0.44px;
		&:not(:last-child) {
			margin-bottom: rem(24);	
		}
	}

	// .item__link

	&__link {
		color: #A0A0A1;
		font-family: 'Ubuntu';
		line-height: math.div(28, 16);
		font-weight: 400;
		letter-spacing: 0.44px;
		text-decoration-line: underline;
		@media (any-hover: hover){
			&:hover{
				color: $blueColor;
			}
		}
	}

	// .item__image

	&__image {
		img{
			border-radius: 8px;
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
}
